{% extends 'base.html.twig' %}

{% block body %}


        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    Mes ingredients
                </h5>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                 {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.name }}</td>
                            <td>
                                <a href="{{ path('app_ingredient_update', {'id': ingredient.id}) }}" class="btn btn-primary">Modifier</a>
                                <a href="{{ path('app_ingredient_delete', {'id': ingredient.id}) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                 {% endfor %}
                    </tbody>
                </table>

            </div>
{#            <a href="{{ path('app_menu_create', {'id': restaurant.id}) }}" class="btn btn-primary">Ajouter un menu</a>#}
        </div>


    <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour</a>
{% endblock %}